* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header {
    background-color: #1271ac;
    padding: 30px;
}
header ul {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 450px;
}
header a{
    padding: 5px 10px;
    color: #000000;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
}


body {
    background-color: darkcyan;

}

h2 {
    margin-left: 610px;
    margin-top: 100px;
}

form {
    margin-left: 610px;
    margin-top: 10px;
}

.clearall {
    margin-left: 610px;
    margin-top: 10px;
}


#burgerbar {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 24px;
    display: none; 
    cursor: pointer;
}